button {
  color: white;
  background-color: rgb(163, 188, 227);
  border-radius: 6px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

table {
  border-style: solid;
  border-color: rgb(243, 242, 242);
  border-width: 4px;
	border-radius: 5px;
	border-spacing: 0px;
}

td {
  padding: 2px 15px;
  vertical-align: middle;
  text-align: center;
  border-top: solid 1px rgb(241, 241, 241);
}

#repo {
  position: relative;
  margin: 0px auto;
}

#viewport {
  margin: 0px auto;
  width: 900px;
  height: 900px;
}

#divNotice {
  display: none;  
  position: relative;
  top: 50%;
  text-align: center;
  font-weight: bold;
  font-size:  30px;
  font-family: Courier;
}

#divNotice span {
  margin: auto;
}